{
	"option_settings": [{
		"namespace": "aws:elasticbeanstalk:application:environment",
		"option_name": "PORT_INT",
		"value": 8081
	}, {
		"namespace": "aws:elasticbeanstalk:application:environment",
		"option_name": "REDIS_PORT_INT",
		"value": 6379
	}, {
		"namespace": "aws:elasticbeanstalk:application:environment",
		"option_name": "REDIS_HOST_STR",
		"value": "redis-test.guellp.0001.use1.cache.amazonaws.com"
	}]
}